@media all and (min-width:1800px) {
    #planet-frame {
        width:700px;
        height:600px;
      }

      #planet-frame-border-lower-left {
        bottom:-2.9vh;
        left:-4.2vh;
      }
      #search-icon {
        position: relative;
        right:4.5vh;
        top:clamp(-3px, .5vw, -5px);
        width:clamp(10px, 1.2vw, 20px);
        height:clamp(10px, 1.2vw, 20px);
        border:2px solid white;
        border-radius: 100%;
      }
      .search-icon-handle {
        position: absolute;
        right:-.1vh;
        top:clamp(10px, 2vh, 14px);
        width:clamp(3px, 1vw, 3px);
        height:clamp(5px, .5vw, 9px);
        background-color: white;
        transform: rotate(-32deg);
      }
      
}