
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(0, 0, 0);
  color:rgb(255, 255, 255);
  font-size:clamp(.7rem, .9vw, 1rem);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}




main {
  overflow: hidden;
  border:1px solid white;
  width:85vw;
  height:93vh;
  margin:auto;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom:1px solid white;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
  height:auto;
  padding:0 1.5vw;
  position: relative;
  left:.5vw;
}

h1 {
  letter-spacing: 2px;
  align-self: center;
  text-align: center;
  font-size: clamp(1.2rem, 1.5vw, 1.8rem);
  font-weight: 500;
  text-transform: uppercase;
}

h2 {
  position: relative;
  right: 0vw;
  font-size: clamp(2rem, 4vw, 4.7rem);
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
  padding:.5vh 2vw;
  border-left:1px solid white;
  border-right:1px solid white;
}
.uppgift-style {
  font-weight: 200;
}
#search-function {
  position: relative;
  right:-.5vh;
  padding:0;
  padding-right: clamp(1vw, 1vw, 4vw);
  padding-left: clamp(1vw, 1vw, 4vw);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#search-bar-text[type=search] {
  text-transform: uppercase;
  align-self: center;
  float: right;
  padding: 2.3vh 1vw;
  height:4vh;
  width:clamp(10vw, 15vw, 15vw);
  border-radius: 25px;
  border: 2px solid white;
  background: none;
  color:grey;
  font-size: clamp(.7rem, .9vw, 1rem);
  letter-spacing: 1px;
}

#search-bar-text:active {
  color:#ffffff;
  }
  #search-bar-text:focus {
    color:#ffffff;
    }

#search-icon {
  position: relative;
  right:4.5vh;
  top:clamp(-3px, .5vw, -5px);
  width:clamp(10px, 1.2vw, 20px);
  height:clamp(10px, 1.2vw, 20px);
  border:2px solid white;
  border-radius: 100%;
}
.search-icon-handle {
  position: absolute;
  right:-.1vh;
  top:clamp(9px, 2vh, 11px);
  width:clamp(3px, 1vw, 3px);
  height:clamp(5px, .5vw, 9px);
  background-color: white;
  transform: rotate(-32deg);
}


#main-content {
  width:100%;
  position: relative;
  top:3vh;
  border-top:1px solid white;
}
#main-aside {
  z-index: 1;
  position: absolute;
  height:84vh;
  width:5vw;
  border-left:1px solid white;
  background-color: black;
    left: 97%;
    white-space: nowrap;    
  display: flex;
  flex-direction: column;
}
#main-aside p {
  z-index: 2;
  position: absolute;
  align-self: center;
  left:36%;
  padding:0 1vw;
  font-weight: 200;
  text-transform: uppercase;
  -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(90deg);
    -o-transform-origin: left top;
    transform: rotate(90deg);
    transform-origin: left top;
    font-size: clamp(.2rem, .95vw, 1.1rem);  -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    letter-spacing: clamp(2px, .9vh, 11px);
}
#box-container{
  display:flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  bottom:clamp(2vh, 2vw, 4.3vh);
  padding:1vh;
  width:5vw;
  border-top:1px solid white;
  position: absolute;
}
#box-1 {
  align-self: center;
  width:clamp(1.3rem, 1.7vw, 2rem);
  height:clamp(1.3rem, 1.7vw, 2rem);
  margin-bottom:1vh;
  margin-left:-5.1vh;
  position: relative;
  background-color: white;
}
#box-2 {
  align-self: center;
  width:clamp(1.3rem, 1.7vw, 2rem);
  height:clamp(1.3rem, 1.7vw, 2rem);
  margin-bottom:1vh;
  margin-left:-5.1vh;
  background-color: white;
}
#box-3 {
  align-self: center;
  width:clamp(1.3rem, 1.7vw, 2rem);
  height:clamp(1.3rem, 1.7vw, 2rem);
  margin-bottom:1vh;
  margin-left:-5.1vh;
  background-color: white;
}

#border-bottom {
  position: absolute;
  padding:0;
  margin:0;
  bottom:3.5vh;
  border-bottom:1px solid white;
  width:100%;
  height:10vh;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  gap:.8vw;
}
.border-bottom-inside-content {
  width:85%;
  height:.6vh;
  background-color: white;
  bottom:0;
  position: relative;
  top:2.2vh;
  left:.7vw;
}
.border-bottom-inside-smaller {
  width:1.25vw;
  height:.6vh;
  background-color: white;
  bottom:0;
  position: relative;
  top:2.2vh;
  right:-.8vw;
}


#main-container{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  top:4.5vh;
}
#planet-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  width:25vw;
  position: relative;
  margin-top:12vh;
}
#name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#planet-name {
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: clamp(4rem, 5.6vw, 7rem);
  letter-spacing: 13px;
  position: relative;
  left:3vw;
  top:-4vh;
}
#planet-latin-name {
  text-transform: uppercase;
  text-align: center;
  font-size: clamp(1rem, 1.2vw, 1.3rem);
  letter-spacing: clamp(15px, 1.5vw, 25px);
  font-weight: 400;
  position: relative;
  left:3vw;
  top:-4.3vh;
}

#planet-desc {
  overflow: auto; 
  scrollbar-color: rgb(207, 207, 207) rgba(34, 34, 34, 0.188);
  scrollbar-width: thin;
  font-size:clamp(.6rem, .8vw, 1rem);
  line-height: 2.9vh;
  padding:3vh 5vh;
  width:30vw;
  height:25vh;
}
#planet-desc::-webkit-scrollbar-thumb {
  background-color: rgb(207, 207, 207); 
}



#planet-desc-frame {
  width:30.1vw;
  margin-bottom:3vh;
}
#planet-desc-frame p {
  text-transform: uppercase;
  font-family: "Orbitron", sans-serif;
  padding:.7vh 1.2vh;
  letter-spacing:3px;
  font-size:clamp(.6rem, .9vw, .7rem);
}

#planets-frame-container {
position: relative;
top:-.5vh;
right:0vw;
}
#planet-frame {
  position: relative;
  width:clamp(490px, 42vw, 720px);
  height:clamp(460px, 37vw, 610px);
  border:2px solid white;
  display: flex;
  flex-direction: column;
  background: rgb(0,0,0);
  background: linear-gradient(345deg, rgba(0,0,0,1) 11%, rgba(15,15,15,1) 100%);
}

#planet-next-prev-container {
  z-index:100;
  width:8vw;
  height:8vh;
  border-top:2px solid white;
  border-left:3px solid white;
  background-color: black;
  box-shadow: 2px 2px 0 black;
  position: absolute;
  bottom:-.2vh;
  right:-.3vh;
  display: flex;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#prev-button {
	width: 0;
	height: 0;
  padding-left:1.65vw;
  margin-top: 2.5vh;
	border-top: .9vw solid transparent;
	border-right: 1.7vw solid #ffffff;
	border-bottom: .9vw solid transparent;
  transition: .2s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#popup {
  display:none;
  z-index:10;
  height:auto;
  padding:1vw 2.3vh;
  text-transform: uppercase;
  font-size: clamp(.6rem, .8vw, 1rem);
  letter-spacing: 1px;
  font-weight: 700;
  text-align: center;
  position: absolute;
  top:-7.5vh;
  left:-2.8vw;
  background-color: rgb(156, 156, 156);
  color:black;
  animation:popUpAnimation 2s infinite;
}
@keyframes popUpAnimation {
  0% {filter:brightness(100%);}
  50% {filter:brightness(150%);}
  100% {filter:brightness(100%);}
}
#arrow-down-popup {
    z-index:10;
    width: 0;
    height: 0;
    margin-left:1.55vw;
    margin-top: 2.5vh;
    border-left:  .7vw solid transparent;
    border-top: 1.2vw  solid rgb(156, 156, 156);
    border-right: .7vw solid transparent;
    position: absolute;
    bottom:-2.1vh;
    right:1.5vw;
  }
  #intro-overlay {
    display:none;
    background-color: rgb(0, 0, 0);
    opacity: 65%;
    width:100%;
    height:100vh;
    position: fixed;
    z-index:10;
    animation:overlayAnimation 1s forwards;
  }
  @keyframes overlayAnimation {
    0% {opacity:0%;}
    100% {opacity:65%;}
  }

#next-button {
	width: 0;
	height: 0;
  margin-left:1.55vw;
  margin-top: 2.5vh;
  border-top:  .9vw solid transparent;
	border-left: 1.7vw  solid #ffffff;
	border-bottom: .9vw solid transparent;
  transition: .2s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#prev-button:hover {
  cursor:pointer;
  border-top: .9vw solid transparent;
	border-right: 1.7vw solid #929292;
	border-bottom: .9vw solid transparent;
  transition: .2s;
}
#next-button:hover {
  cursor:pointer;
  border-top: .9vw solid transparent;
	border-left: 1.7vw solid #929292;
	border-bottom: .9vw solid transparent;
  transition: .2s;
}


#planet-frame-border-lower-left {
  z-index:0;
  width:5.5vw;
  height:8vh;
  border-top:3px solid white;
  background-color: black;
  box-shadow: -2px 2px 0 black;
  position: absolute;
  bottom:-3.3vh;
  left:-4vh;
  display: flex;
  transform: rotate(43deg);
}

#planet-frame-rotation-upper-right{
  z-index:2;
  width:10vw;
  height:6vh;
  border-left:3px solid white;
  border-bottom:3px solid white;
  background-color: black;
  box-shadow: 2px -2px 0 black;
  position: absolute;
  top:-.2vh;
  right:-.2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
}

#planet-temperature {
  text-transform: uppercase;
  position: absolute;
  bottom:6vh;
  text-align: center;
  align-self: center;
}
.strong.temp {
  letter-spacing: 8px;
  font-size: clamp(.6rem, .8vw, .9rem);
  font-weight: 600;
}

.planet-temperature-day {
  margin-right:1vw;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: clamp(.7rem, .8vw, .9rem);
}
.planet-temperature-night {
  margin-left:1vw;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: clamp(.7rem, .8vw, .9rem);
}

#planet-rotation {
  position: relative;
  top:-.4vh;
  text-transform: uppercase;
  display: flex;
  justify-content: baseline;
  align-items: center;
}

.rotation-text {
  font-weight: 500;
  letter-spacing: 1px;
  font-size: clamp(.6rem, .85vw, 1rem);
}
.rotation-numbers-border {
  padding:.5vh .5vw;
  margin-left:.4vw;
  border:2px solid white;
  font-weight: 200;
  letter-spacing: 1px;
  font-size: clamp(.6rem, .85vw, 1rem);
}
#planet-type {
  text-transform: uppercase;
  padding:1.5vw;
  font-size: clamp(.5rem, .8vw, .9rem);
  letter-spacing: 6px;
  font-weight: 300;
}



#searchbar-list {
  z-index: 10000;
  list-style-type: none;
  position: absolute;
  padding: 0;
  margin: 0;
  top:8.5vh;
  display: none;
}

#searchbar-list li a {
  border: 1px solid #a4a4a4;
  margin-top: -1px; /* Prevent double borders */
  background-color: #0f0f0fdb;
  padding: 1.8vh 1vw;
  width:15vw;
  text-align: center;
  text-decoration: none;
  font-size: clamp(.5rem, .8vw, 1rem);
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  display: block;
}

#searchbar-list li a:hover {
  cursor:pointer;
  background-color: #1e1e1eec;
  color:rgb(255, 255, 255);
}



#distance-moons-info-container {
  overflow: hidden;
  z-index: 2;

  padding:1vh 1vw ;
  text-transform: uppercase;
  letter-spacing: 2px;
  width:30.1vw;
  height:3vh;
  position: relative;
  top:1vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  background-color: black; 
}

.moons-title {
  font-size: clamp(.6rem, .8vw, .8rem);
  font-weight: 600;
}
.moons-style {
  overflow: auto;
  font-weight: 200;
  font-size:clamp(.6rem, .8vw, .9rem);
  letter-spacing: 1px;
}
.moons-style-longer {
  font-weight: 200;
  font-size:clamp(.6rem, .8vw, .9rem);
  letter-spacing: 1px;
}
#moon-view-more, #moon-view-less {
  display:none;
  z-index: 3;
  position: absolute;
  right:.7vw;
  border:1px solid white;
  color:white;
  text-transform: uppercase;
  font-size:clamp(.6rem, .7vw, .7rem);
  letter-spacing: 1px;
  padding:.5vh 1vw;
  background:black;
  transition: .1s;
}
#moon-view-more:hover,#moon-view-less:hover {
  cursor:pointer;
  background-color: rgb(38, 38, 38);
  color:rgb(200, 200, 200);
  transition: .1s;
}




#distance-circ-container {
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:.4vw;
}
#planet-circumference {
  text-transform: uppercase;
  padding:.2vh 1vh;
  font-size:clamp(.4rem, .8vw, .8rem);
  letter-spacing: 2px;
  right:0;
  text-align: right;
}
#planet-distance {
  text-transform: uppercase;
  padding:.2vh 1vh;
  font-size:clamp(.4rem, .8vw, .8rem);
  letter-spacing: 2px;
  right:0;
  text-align: left;
}

.strong-distance {
  font-weight: 600;
}


/* Ändrar titlarnas storlek som har fler bokstäver  */ 
.smaller-title {
  font-size:clamp(3.6rem, 4.7vw, 6rem);
  letter-spacing: clamp(0px, 0.3vw, 5px);
}



#planet-orbital-period {
  padding:3vw;
  position: relative;
  top:15vh;
}
.orbital-number{
  position: relative;
  left:1vw;
  top:0vh;
  font-size: clamp(3rem, 3.8vw, 4.5rem);
  animation:orbitalAnimatiton .8s forwards;
  animation-timing-function: ease-out;
}
.orbital-text-strong {
  font-size: clamp(.6rem, .8vw, .9rem);
  font-weight: 500;
  letter-spacing: 1px;
  position: relative;
  top:0vh;
  text-transform: uppercase;
  animation: orbitalAnimatitonText .8s forwards;
  animation-timing-function: ease-in-out;
}
.orbital-text-light {
  font-size: clamp(.6rem, .8vw, .9rem);
  font-weight: 200;
  letter-spacing: 1px;
  position: relative;
  top:0vh;
  text-transform: uppercase;
  animation:orbitalAnimatitonText .8s forwards;
  animation-timing-function: ease-in-out;
}
@keyframes orbitalAnimatiton {
  0% {top:2vh; opacity:0%};
  50% {opacity:0%};
  100% {top:0vh; opacity:100%};
}
@keyframes orbitalAnimatitonText  {
  15% {top:2vh; opacity:0%};
  100% {top:0vh; opacity:100%};
}


/* Planeter CSS */
/* Solen */
#sun-planet-css-container {
  display:none;
  margin:auto;
  position:absolute;
  top:1vh;
  left:4vw;
  transition: .3s;
}
#sun-planet-outer-ring {
  width:62vh;
  height:62vh;
  border:3px solid #bc884c04;
  border-radius:100%;
  box-shadow: 0px 0px 25px #ff3a170a;
  display:flex;
  justify-content: center;
  align-items: center;
}
#sun-planet-middle-ring {
  width:52vh;
  height:52vh;
  border:3px solid #bc884c17;
  border-radius:100%;
  box-shadow: 0px 0px 25px #ff3a170f;
  margin:auto;
  display:flex;
  justify-content: center;
  align-items: center;
}
#sun-planet-closest-ring {
  width:43vh;
  height:43vh;
  border:3px solid #bc884c35;
  border-radius:100%;
  box-shadow: 0px 0px 25px #ff3a1717;
  margin:auto;
  display:flex;
  justify-content: center;
  align-items: center;
}
#sun-planet {
  width:27vh;
  height:27vh;
  background: linear-gradient(326deg, rgba(218,255,185,1) 10%, #ffcd273f 40%);
  background-color: #ffec7e;
  border-radius:100%;
  box-shadow: 0px 0px 28px #f96103ca, inset 0px 0px 24px #FF7817, 0px 0px 58px #f92c036c;
  margin:auto;
}


/* Merkurius */
#merkurius-planet-css-container {
  display:none;
  margin:auto;
  position:absolute;
  top:25vh;
  left:16vw;
}
#merkurius-planet {
  width:12vh;
  height:12vh;
  background: linear-gradient(150deg, rgb(180, 180, 180) 20%, rgb(16, 16, 16) 70%);
  background-color: #cdcdcd;
  border-radius:100%;
  box-shadow: -15px 0px 28px #7878783b, inset 0px 0px 20px #000000, inset 5px 5px 5px #ffffffce, 0px 0px 50px #82828244;
  margin:auto;
}


/* Venus */
#venus-planet-css-container {
  display:none;
  margin:auto;
  position:absolute;
  top:20vh;
  left:14vw;
}
#venus-planet {
  width:23vh;
  height:23vh;
  background: linear-gradient(120deg, rgba(255, 255, 243, 0.517) 20%, #000000 70%);
  background-color: #dfd0ad;
  border-radius:100%;
  box-shadow: 0px 0px 18px #a9a8a80d, inset 0px 0px 20px #000000, 0px 0px 58px #82828209;
  margin:auto;
}


/* Jorden */
#jorden-planet-css-container {
  display:none;
  margin:auto;
  position:absolute;
  top:19.5vh;
  left:13.5vw;
}
#jorden-planet {
  overflow: hidden;
  width:25vh;
  height:25vh;
  background: linear-gradient(140deg, rgba(49, 101, 211, 0.853) 20%, #000000 72%);
  background-color: #212f8c;
  border-radius:100%;
  box-shadow: 0px 0px 18px #a9a8a80d, inset -2px -2px 15px #fcfbfb38, 0px 0px 58px #2a48994f;
  margin:auto;
}
#jorden-planet-land {
  z-index:2;
  width:18vh;
  height:22vh;
  background: rgb(124, 177, 89);
  background: linear-gradient(125deg, rgba(36,102,83,1) 0%, rgba(47,80,49,1) 100%);
  border-radius:100%;
  box-shadow: 0px 0px 18px #a9a8a80d, inset 20px 10px 15px #f2e1e1, 0px 0px 12px #06091035;
  margin:auto;
  position:relative;
  mix-blend-mode: darken;
  top:-3vh;
  left:0vw;
}
#jorden-planet-water {
  z-index:1;
  width:25vh;
  height:30vh;
  background: rgb(86,122,152);
  background: linear-gradient(135deg, rgba(86,122,152,1) 0%, rgb(151, 162, 202) 44%, rgb(141, 152, 198) 74%, rgb(116, 120, 145) 100%);border-radius:100%;
  box-shadow: 0px 0px 18px #939393, inset 20px 10px 15px #b7b7b7, 0px 0px 12px #a1b3e0fd;
  margin:auto;
  position:relative;
  mix-blend-mode: color-dodge;
  filter:blur(100%);
  opacity: 30%;
  top:-26vh;
  left:-2vw;
}


/* Mars */
#mars-planet-css-container {
  display:none;
  margin:auto;
  position:absolute;
  top:22vh;
  left:15vw;
}
#mars-planet {
  width:18vh;
  height:18vh;
  background: rgb(241, 105, 64);
  background: linear-gradient(117deg, rgb(240, 102, 61) 0%, rgb(27, 11, 7) 70%);
  border-radius:100%;
  box-shadow: 0px 0px 18px #a9a8a80d, inset 0px 0px 20px #e9c78f, 0px 0px 58px #db41363a;
  margin:auto;
}

/* Jupiter */
#jupiter-planet-css-container {
  display:none;
  margin:auto;
  position:absolute;
  top:17vh;
  left:12vw;
}
#jupiter-planet {
  width:30vh;
  height:30vh;
 background: rgb(246,228,184);
background: linear-gradient(173deg, rgba(246,228,184,1) 10%, rgba(171, 136, 97, 0.88) 21%, rgb(211, 196, 157) 37%, rgba(130, 69, 52, 0.834) 55%, rgba(246,228,184,1) 73%, rgba(85,40,28,1) 100%);
border-radius:100%;
  box-shadow: 0px 0px 18px #a9a8a80d, inset -10px -10px 20px #240b09, inset 10px 10px 10px #fff0dfa9, 0px 0px 58px #dbb7863a;
  margin:auto;
}

/* Saturnus */
#saturnus-planet-css-container {
  display:none;
  margin:auto;
  position:absolute;
  top:20vh;
  left:13vw;
}
#saturnus-planet {
  width:25vh;
  height:25vh;
 background: rgb(227, 202, 139);
background: linear-gradient(140deg, rgb(221, 199, 148) 10%, rgba(202, 164, 119, 0.88) 21%, rgb(188, 170, 123) 37%, rgba(170, 128, 101, 0.834) 55%, rgb(198, 181, 136) 73%, rgb(65, 40, 32) 100%);
border-radius:100%;
  box-shadow: 0px 0px 18px #a9a8a80d, inset -10px -10px 20px #240b09, inset 10px 10px 10px #fffddf8b, 0px 0px 28px #fdebd114;
  margin:auto;
}
#saturnus-ring {
  width:45vh;
  height:2.3vh;
  background: rgb(232, 217, 181);
 box-shadow: 0px 0px 18px #d7d0d04a, inset -10px -10px 20px #3e2818, inset 10px 10px 10px #fffddf8b, 0px 0px 28px #fdebd11a;
  border-radius:100%;
  margin:auto;
  position:absolute;
  top:12vh;
  left:-4.5vw;
  mix-blend-mode: lighten;
  transform: rotate(-30deg);
}

/* Uranus */
#uranus-planet-css-container {
  display:none;
  margin:auto;
  position:absolute;
  top:21vh;
  left:14vw;
}
#uranus-planet {
  width:22vh;
  height:22vh;
  background: rgb(93,208,255);
  background: linear-gradient(176deg, rgba(93,208,255,1) 2%, rgba(12,27,71,1) 98%);
border-radius:100%;
  box-shadow: 0px 0px 18px #a9a8a805, inset -10px -10px 20px #120924, inset 10px 10px 10px #dffff58b, 0px 0px 48px #5bacef80;
  margin:auto;
}
#uranus-ring {
  width:35vh;
  height:1.1vh;
  background: rgb(234, 231, 224);
 box-shadow: 0px 0px 18px #d0d3d74a, inset -10px -10px 20px #34425c, inset 10px 10px 10px #fffddf8b, 0px 0px 28px #d1c0a941;
  border-radius:100%;
  margin:auto;
  position:absolute;
  top:11vh;
  left:-3vw;
  mix-blend-mode: lighten;
  transform: rotate(-30deg);
}

/* Neptunus */
#neptunus-planet-css-container {
  display:none;
  margin:auto;
  position:absolute;
  top:22vh;
  left:14vw;
}
#neptunus-planet {
  width:21vh;
  height:21vh;
  background: rgb(93,208,255);
  background: linear-gradient(145deg, rgb(84, 205, 253) 2%, rgb(5, 12, 33) 72%);
border-radius:100%;
  box-shadow: 0px 0px 18px #2139462c, inset -10px -10px 50px #11117b, inset 10px 10px 10px #dffff58b, 0px 0px 15px #2195f4cb;
  margin:auto;
}







#meny-desc-frame {
  overflow: hidden;
  position: absolute;
  top:-12vh;
  right:-5.4vw;
}
#meny-desc-frame p {
  font-size: clamp(.7rem, .9vw, .9rem);
  text-transform: uppercase;
  font-family: "Orbitron", sans-serif;
  padding:.7vh 1.2vh;
  letter-spacing: 3px;
}
#meny {
  padding:2.5vh;
}


.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width:28vw;
  position: relative;
  left:0vw;
}

.carousel {
  display: flex;
  flex-direction: row;
  position: absolute;
  text-transform: uppercase;
  font-weight: 300;
  font-size: clamp(.7rem, .8vw, 1rem);
  letter-spacing: 1px;
  align-items: center;
  overflow: hidden;
}


.carousel {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 23vw; 
}


.carousel-track {
  display: flex;
  transition: transform 0.3s ease;
}

.carousel-item {
  flex: 0 0 5.4vw; 
  text-align: center;
  transition: .2s;
  color:white;
}
.carousel-track a {
  z-index: 2;  
cursor:pointer;
}


.arrow-left {
  z-index:2;
  cursor: pointer;
  background: none;
  position: relative;
  border-top: .35vw solid transparent;
	border-right: .5vw solid #ffffff;
	border-bottom: .35vw solid transparent;
  background-color: black;
  margin: auto;
  display: flex;
  justify-content: center;
  align-self: center;
  left:-5.2vw;
}
.arrow-right {
  z-index:2;
  cursor: pointer;
  position:relative;
  right:2vw;
  background: none;
  border-top: .35vw solid transparent;
	border-left: .5vw solid #ffffff;
	border-bottom: .35vw solid transparent;
  margin: auto;
  display: flex;
  justify-content: center;
  align-self: center;
  left:5vw;
}

.carousel-item:hover {
  font-weight: 600;
  transition: .2s;
}