@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(0, 0, 0);
  color:rgb(255, 255, 255);
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

main {
  overflow: hidden;
  border:1px solid white;
  width:85vw;
  height:93vh;
  margin:auto;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom:1px solid white;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
  height:auto;
  padding:0 1.5vw;
  position: relative;
  left:.5vw;
}

h1 {
  letter-spacing: 2px;
  align-self: center;
  text-align: center;
  font-size: clamp(1.2rem, 1.5vw, 1.8rem);
  font-weight: 500;
  text-transform: uppercase;
}

h2 {
  position: relative;
  right: 0vw;
  font-size: clamp(2rem, 4vw, 4.7rem);
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
  padding:.5vh 2vw;
  border-left:1px solid white;
  border-right:1px solid white;
}
.uppgift-style {
  font-weight: 200;
}
#search-function {
  position: relative;
  right:-.5vh;
  padding:0;
  padding-right: clamp(1vw, 1vw, 4vw);
  padding-left: clamp(1vw, 1vw, 4vw);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#search-function [type=text] {
  text-transform: uppercase;
  align-self: center;
  float: right;
  padding: 2.3vh 1vw;
  height:4vh;
  width:clamp(10vw, 15vw, 15vw);
  border-radius: 25px;
  border: 2px solid white;
  background: none;
  color:grey;
  font-size: clamp(.7rem, 1.1vw, 1rem);
  letter-spacing: 1px;
}
#search-icon {
  position: relative;
  right:4.5vh;
  top:clamp(-10px, -.3vw, 3px);
  width:clamp(20px, 1.6vw, 30px);
  height:clamp(20px, 1.6vw, 30px);
}
#main-content {
  width:100%;
  position: relative;
  top:3vh;
  border-top:1px solid white;
}
#main-aside {
  z-index: 1;
  position: absolute;
  height:84vh;
  width:5vw;
  border-left:1px solid white;
  background-color: black;
    left: 97%;
    white-space: nowrap;    
  display: flex;
  flex-direction: column;
}
#main-aside p {
  z-index: 100;
  position: absolute;
  align-self: center;
  left:36%;
  padding:0 1vw;
  font-weight: 200;
  text-transform: uppercase;
  -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(90deg);
    -o-transform-origin: left top;
    transform: rotate(90deg);
    transform-origin: left top;
    font-size: clamp(.2rem, .95vw, 1.1rem);  -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    letter-spacing: clamp(2px, .9vh, 11px);
}
#box-container{
  display:flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  bottom:clamp(2vh, 2vw, 4.3vh);
  padding:1vh;
  width:5vw;
  border-top:1px solid white;
  position: absolute;
}
#box-1 {
  align-self: center;
  width:clamp(1.3rem, 1.7vw, 2rem);
  height:clamp(1.3rem, 1.7vw, 2rem);
  margin-bottom:1vh;
  margin-left:-5.1vh;
  position: relative;
  background-color: white;
}
#box-2 {
  align-self: center;
  width:clamp(1.3rem, 1.7vw, 2rem);
  height:clamp(1.3rem, 1.7vw, 2rem);
  margin-bottom:1vh;
  margin-left:-5.1vh;
  background-color: white;
}
#box-3 {
  align-self: center;
  width:clamp(1.3rem, 1.7vw, 2rem);
  height:clamp(1.3rem, 1.7vw, 2rem);
  margin-bottom:1vh;
  margin-left:-5.1vh;
  background-color: white;
}



#border-bottom {
  position: absolute;
  padding:0;
  margin:0;
  bottom:3.5vh;
  border-bottom:1px solid white;
  width:100%;
  height:10vh;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  gap:.8vw;
}
.border-bottom-inside-content {
  width:85%;
  height:.6vh;
  background-color: white;
  bottom:0;
  position: relative;
  top:2.2vh;
  left:.7vw;
}
.border-bottom-inside-smaller {
  width:1.25vw;
  height:.6vh;
  background-color: white;
  bottom:0;
  position: relative;
  top:2.2vh;
  right:-.8vw;
}




/* Remove to show content */
#planet-container {
  display:none;
}

#planet-name {
  font-size: 3rem;
}
#planet-latin-name {
  font-size: 1.5rem;
}

.strong {
  font-weight: 600;
}
