
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(0, 0, 0);
  color:rgb(255, 255, 255);
  font-size:clamp(.7rem, .9vw, 1rem);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

main {
  overflow: hidden;
  border:1px solid white;
  width:85vw;
  height:93vh;
  margin:auto;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom:1px solid white;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
  height:auto;
  padding:0 1.5vw;
  position: relative;
  left:.5vw;
}

h1 {
  letter-spacing: 2px;
  align-self: center;
  text-align: center;
  font-size: clamp(1.2rem, 1.5vw, 1.8rem);
  font-weight: 500;
  text-transform: uppercase;
}

h2 {
  position: relative;
  right: 0vw;
  font-size: clamp(2rem, 4vw, 4.7rem);
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
  padding:.5vh 2vw;
  border-left:1px solid white;
  border-right:1px solid white;
}
.uppgift-style {
  font-weight: 200;
}
#search-function {
  position: relative;
  right:-.5vh;
  padding:0;
  padding-right: clamp(1vw, 1vw, 4vw);
  padding-left: clamp(1vw, 1vw, 4vw);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#search-bar-text[type=search] {
  text-transform: uppercase;
  align-self: center;
  float: right;
  padding: 2.3vh 1vw;
  height:4vh;
  width:clamp(10vw, 15vw, 15vw);
  border-radius: 25px;
  border: 2px solid white;
  background: none;
  color:grey;
  font-size: clamp(.7rem, .9vw, 1rem);
  letter-spacing: 1px;
}

#search-bar-text:active {
  color:#ffffff;
  }
  #search-bar-text:focus {
    color:#ffffff;
    }

#search-icon {
  position: relative;
  right:4.5vh;
  top:clamp(-10px, -.3vw, 3px);
  width:clamp(20px, 1.6vw, 30px);
  height:clamp(20px, 1.6vw, 30px);
}
#main-content {
  width:100%;
  position: relative;
  top:3vh;
  border-top:1px solid white;
}
#main-aside {
  z-index: 1;
  position: absolute;
  height:84vh;
  width:5vw;
  border-left:1px solid white;
  background-color: black;
    left: 97%;
    white-space: nowrap;    
  display: flex;
  flex-direction: column;
}
#main-aside p {
  z-index: 100;
  position: absolute;
  align-self: center;
  left:36%;
  padding:0 1vw;
  font-weight: 200;
  text-transform: uppercase;
  -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(90deg);
    -o-transform-origin: left top;
    transform: rotate(90deg);
    transform-origin: left top;
    font-size: clamp(.2rem, .95vw, 1.1rem);  -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    letter-spacing: clamp(2px, .9vh, 11px);
}
#box-container{
  display:flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  bottom:clamp(2vh, 2vw, 4.3vh);
  padding:1vh;
  width:5vw;
  border-top:1px solid white;
  position: absolute;
}
#box-1 {
  align-self: center;
  width:clamp(1.3rem, 1.7vw, 2rem);
  height:clamp(1.3rem, 1.7vw, 2rem);
  margin-bottom:1vh;
  margin-left:-5.1vh;
  position: relative;
  background-color: white;
}
#box-2 {
  align-self: center;
  width:clamp(1.3rem, 1.7vw, 2rem);
  height:clamp(1.3rem, 1.7vw, 2rem);
  margin-bottom:1vh;
  margin-left:-5.1vh;
  background-color: white;
}
#box-3 {
  align-self: center;
  width:clamp(1.3rem, 1.7vw, 2rem);
  height:clamp(1.3rem, 1.7vw, 2rem);
  margin-bottom:1vh;
  margin-left:-5.1vh;
  background-color: white;
}

#border-bottom {
  position: absolute;
  padding:0;
  margin:0;
  bottom:3.5vh;
  border-bottom:1px solid white;
  width:100%;
  height:10vh;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  gap:.8vw;
}
.border-bottom-inside-content {
  width:85%;
  height:.6vh;
  background-color: white;
  bottom:0;
  position: relative;
  top:2.2vh;
  left:.7vw;
}
.border-bottom-inside-smaller {
  width:1.25vw;
  height:.6vh;
  background-color: white;
  bottom:0;
  position: relative;
  top:2.2vh;
  right:-.8vw;
}


#main-container{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  top:4.5vh;
}
#planet-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  width:25vw;
  position: relative;
  margin-top:12vh;
}
#name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#planet-name {
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: clamp(4rem, 5.6vw, 7rem);
  letter-spacing: 13px;
  position: relative;
  left:3vw;
  top:-3vh;
}
#planet-latin-name {
  text-transform: uppercase;
  text-align: center;
  font-size: clamp(1rem, 1.2vw, 1.3rem);
  letter-spacing: clamp(15px, 1.5vw, 25px);
  font-weight: 400;
  position: relative;
  left:3vw;
  top:-3.3vh;
}

#planet-desc {
  overflow: auto; 
  scrollbar-color: rgb(207, 207, 207) rgba(34, 34, 34, 0.188);
  scrollbar-width: thin;
  font-size:clamp(.73rem, .8vw, .9rem);
  line-height: 2.7vh;
  border:1px solid white;
  padding:4vh 5vh;
  width:30vw;
  height:25vh;
}
#planet-desc::-webkit-scrollbar-thumb {
  background-color: rgb(207, 207, 207); 
}



#planet-desc-frame {
  width:30.1vw;
  border:1px solid white;
  margin-bottom:3vh;
}
#planet-desc-frame p {
  text-transform: uppercase;
  font-family: "Orbitron", sans-serif;
  padding:.7vh 1.2vh;
  letter-spacing: 3px;
}

#planets-frame-container {
position: relative;
top:-.5vh;
right:0vw;
}
#planet-frame {
  position: relative;
  width:clamp(490px, 30vw, 720px);
  height:clamp(460px, 21vw, 630px);
  border:2px solid white;
  display: flex;
  flex-direction: column;
  background: rgb(0,0,0);
  background: linear-gradient(345deg, rgba(0,0,0,1) 11%, rgba(15,15,15,1) 100%);
}

#planet-next-prev-container {
  z-index:100;
  width:8vw;
  height:8vh;
  border-top:2px solid white;
  border-left:3px solid white;
  background-color: black;
  box-shadow: 2px 2px 0 black;
  position: absolute;
  bottom:-.2vh;
  right:-.3vh;
  display: flex;
}

#prev-button {
	width: 0;
	height: 0;
  padding-left:1.65vw;
  margin-top: 2.5vh;
	border-top: .9vw solid transparent;
	border-right: 1.7vw solid #ffffff;
	border-bottom: .9vw solid transparent;
  transition: .2s;
}
#next-button {
	width: 0;
	height: 0;
  margin-left:1.55vw;
  margin-top: 2.5vh;
  border-top:  .9vw solid transparent;
	border-left: 1.7vw  solid #ffffff;
	border-bottom: .9vw solid transparent;
  transition: .2s;
}
#prev-button:hover {
  cursor:pointer;
  border-top: .9vw solid transparent;
	border-right: 1.7vw solid #929292;
	border-bottom: .9vw solid transparent;
  transition: .2s;
}
#next-button:hover {
  cursor:pointer;
  border-top: .9vw solid transparent;
	border-left: 1.7vw solid #929292;
	border-bottom: .9vw solid transparent;
  transition: .2s;
}


#planet-frame-border-lower-left {
  z-index:0;
  width:5.5vw;
  height:8vh;
  border-top:3px solid white;
  background-color: black;
  box-shadow: -2px 2px 0 black;
  position: absolute;
  bottom:-3.3vh;
  left:-4vh;
  display: flex;
  transform: rotate(43deg);
}

#planet-frame-rotation-upper-right{
  z-index:100;
  width:10vw;
  height:6vh;
  border-left:3px solid white;
  border-bottom:3px solid white;
  background-color: black;
  box-shadow: 2px -2px 0 black;
  position: absolute;
  top:-.2vh;
  right:-.2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
}

#planet-temperature {
  text-transform: uppercase;
  position: absolute;
  bottom:6vh;
  text-align: center;
  align-self: center;
}
.strong.temp {
  letter-spacing: 8px;
  font-size: clamp(.6rem, .8vw, .9rem);
  font-weight: 600;
}

.planet-temperature-day {
  margin-right:1vw;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: clamp(.7rem, .8vw, .9rem);
}
.planet-temperature-night {
  margin-left:1vw;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: clamp(.7rem, .8vw, .9rem);
}

#planet-rotation {
  position: relative;
  top:-.4vh;
  text-transform: uppercase;
  display: flex;
  justify-content: baseline;
  align-items: center;
}

.rotation-text {
  font-weight: 500;
  letter-spacing: 1px;
  font-size: clamp(.6rem, .85vw, 1rem);
}
.rotation-numbers-border {
  padding:.5vh .5vw;
  margin-left:.4vw;
  border:2px solid white;
  font-weight: 200;
  letter-spacing: 1px;
  font-size: clamp(.6rem, .85vw, 1rem);
}
#planet-type {
  text-transform: uppercase;
  padding:1.5vw;
  font-size: clamp(.5rem, .8vw, .9rem);
  letter-spacing: 6px;
  font-weight: 300;
}



#searchbar-list {
  z-index: 10000;
  list-style-type: none;
  position: absolute;
  padding: 0;
  margin: 0;
  top:8.5vh;
  display: none;
}

#searchbar-list li a {
  border: 1px solid #a4a4a4;
  margin-top: -1px; /* Prevent double borders */
  background-color: #0f0f0fdb;
  padding: 1.8vh 1vw;
  width:15vw;
  text-align: center;
  text-decoration: none;
  font-size: clamp(.5rem, .8vw, 1rem);
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  display: block;
}

#searchbar-list li a:hover {
  cursor:pointer;
  background-color: #1e1e1eec;
  color:rgb(255, 255, 255);
}



#distance-moons-info-container {
  z-index: 10000;
  border:1px solid white;
  padding:1vh;
  text-transform: uppercase;
  border-radius: 15px;
  letter-spacing: 5px;
  width:30vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black;
}
#planet-circumference {
  text-transform: uppercase;
  padding:.2vh 1vh;
  font-size:clamp(.4rem, .7vw, .7rem);
  letter-spacing: 2px;
  right:0;
  text-align: right;
}

/* Ändrar titlarnas storlek som har fler bokstäver  */ 
.smaller-title {
  font-size:clamp(3.6rem, 4.7vw, 6rem);
  letter-spacing: clamp(0px, 0.3vw, 5px);
}



#planet-orbital-period {
  padding:3vw;
  position: relative;
  top:15vh;
}
.orbital-number{
  position: relative;
  left:1vw;
  top:0vh;
  font-size: clamp(3rem, 3.8vw, 4.5rem);
  animation:orbitalAnimatiton .8s forwards;
  animation-timing-function: ease-out;
}
.orbital-text-strong {
  font-size: clamp(.6rem, .8vw, .9rem);
  font-weight: 500;
  letter-spacing: 1px;
  position: relative;
  top:0vh;
  text-transform: uppercase;
  animation: orbitalAnimatitonText .8s forwards;
  animation-timing-function: ease-in-out;
}
.orbital-text-light {
  font-size: clamp(.6rem, .8vw, .9rem);
  font-weight: 200;
  letter-spacing: 1px;
  position: relative;
  top:0vh;
  text-transform: uppercase;
  animation:orbitalAnimatitonText .8s forwards;
  animation-timing-function: ease-in-out;
}
@keyframes orbitalAnimatiton {
  0% {top:2vh; opacity:0%};
  50% {opacity:0%};
  100% {top:0vh; opacity:100%};
}
@keyframes orbitalAnimatitonText  {
  15% {top:2vh; opacity:0%};
  100% {top:0vh; opacity:100%};
}


/* Planeter CSS */
/* Solen */
#sun-planet-css-container {
  display:none;
  margin:auto;
  position:absolute;
  top:1vh;
  left:3vw;
  transition: .3s;
}
#sun-planet-outer-ring {
  width:62vh;
  height:62vh;
  border:3px solid #bc884c04;
  border-radius:100%;
  box-shadow: 0px 0px 25px #ff3a170a;
  display:flex;
  justify-content: center;
  align-items: center;
}
#sun-planet-middle-ring {
  width:52vh;
  height:52vh;
  border:3px solid #bc884c17;
  border-radius:100%;
  box-shadow: 0px 0px 25px #ff3a170f;
  margin:auto;
  display:flex;
  justify-content: center;
  align-items: center;
}
#sun-planet-closest-ring {
  width:43vh;
  height:43vh;
  border:3px solid #bc884c35;
  border-radius:100%;
  box-shadow: 0px 0px 25px #ff3a1717;
  margin:auto;
  display:flex;
  justify-content: center;
  align-items: center;
}
#sun-planet {
  width:27vh;
  height:27vh;
  background: linear-gradient(326deg, rgba(218,255,185,1) 10%, #ffcd273f 40%);
  background-color: #ffec7e;
  border-radius:100%;
  box-shadow: 0px 0px 28px #f96103ca, inset 0px 0px 24px #FF7817, 0px 0px 58px #f92c036c;
  margin:auto;
}


/* Merkurius */
#merkurius-planet-css-container {
  display:none;
  margin:auto;
  position:absolute;
  top:25vh;
  left:16vw;
}
#merkurius-planet {
  width:12vh;
  height:12vh;
  background: linear-gradient(150deg, rgb(180, 180, 180) 20%, rgb(16, 16, 16) 70%);
  background-color: #cdcdcd;
  border-radius:100%;
  box-shadow: -15px 0px 28px #7878783b, inset 0px 0px 20px #000000, inset 5px 5px 5px #ffffffce, 0px 0px 50px #82828244;
  margin:auto;
}


/* Venus */
#venus-planet-css-container {
  display:none;
  margin:auto;
  position:absolute;
  top:20vh;
  left:14vw;
}
#venus-planet {
  width:23vh;
  height:23vh;
  background: linear-gradient(120deg, rgba(255, 255, 243, 0.517) 20%, #000000 70%);
  background-color: #dfd0ad;
  border-radius:100%;
  box-shadow: 0px 0px 18px #a9a8a80d, inset 0px 0px 20px #000000, 0px 0px 58px #82828209;
  margin:auto;
}





#meny-desc-frame {
  overflow: hidden;
  border:1px solid white;
  position: absolute;
  top:-14vh;
  right:-5.4vw;
}
#meny-desc-frame p {
  font-size: clamp(.7rem, .9vw, .9rem);
  text-transform: uppercase;
  font-family: "Orbitron", sans-serif;
  padding:.7vh 1.2vh;
  letter-spacing: 3px;
}
#meny {
  border:1px solid white;
  padding:2.5vh;
}


.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width:28vw;
  position: relative;
  left:-.5vw;
}

.carousel {
  display: flex;
  flex-direction: row;
  position: absolute;
  text-transform: uppercase;
  font-weight: 300;
  font-size: clamp(.7rem, .8vw, 1rem);
  letter-spacing: 1px;
  align-items: center;
  overflow: hidden;
}


.carousel {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 21vw; 
}


.carousel-track {
  display: flex;
  transition: transform 0.3s ease;
}

.carousel-item {
  flex: 0 0 5vw; 
  text-align: center;
  transition: .2s;
  color:white;
}
.carousel-track a {
  pointer-events: auto;
  z-index: 1000000;  
cursor:pointer;
}


.arrow-left {
  z-index:10000;
  cursor: pointer;
  background: none;
  position: relative;
  border-top: .35vw solid transparent;
	border-right: .5vw solid #ffffff;
	border-bottom: .35vw solid transparent;
  background-color: black;
  margin: auto;
  display: flex;
  justify-content: center;
  align-self: center;
  left:-4.7vw;
}
.arrow-right {
  z-index:10000;
  cursor: pointer;
  position:relative;
  right:2vw;
  background: none;
  border-top: .35vw solid transparent;
	border-left: .5vw solid #ffffff;
	border-bottom: .35vw solid transparent;
  margin: auto;
  display: flex;
  justify-content: center;
  align-self: center;
  left:5vw;
}

.carousel-item:hover {
  font-weight: 600;
  transition: .2s;
}